::-webkit-scrollbar {
    width: 7px; /* Ancho del scroll */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color de la barra del scroll */
    border-radius: 5px; /* Radio de las esquinas de la barra del scroll */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color de la barra del scroll al pasar el cursor sobre ella */
}


input[type = "number"]::-webkit-inner-spin-button{
  display: none;
}


input[type = "number"]::-webkit-out-spin-button{
  display: none;
}
